* { 
    margin: 0;
    padding: 0;
}


.content {
    --template-column: 3fr 1fr 1.5fr repeat(2,  1fr);
    --placeholder-color: #bcbec2;
    --remove-btn-color: rgb(239 68 68);

    min-height: 90vh;
    width: 100%;
    padding: 2rem 8rem;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content .title {
    font-size: 2rem;
    letter-spacing: 2px;
}

.content .main {
    display: flex;
    gap: 32px
}

.main .itemsContainer {
    flex: 1;
    display: grid;
    grid-template-rows: 38px;
    grid-auto-rows: 280px; 
}

.itemsContainer > * {
    border-bottom: 0.5px solid var(--placeholder-color);
}

/* for table head */
.itemsContainer .head {
    display: grid;
    grid-template-columns: var(--template-column);
    row-gap: 10px;
}

.itemsContainer .head p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* for cart item */
.cartItem {
    display: grid;
    grid-template-columns: var(--template-column);
    align-items: center;

    font-weight: 600;
    font-size: 1.2rem;
}

.cartItem div:nth-child(1) {
    height: 90%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.cartItem .thumbnail {
    width: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.cartItem .thumbnail:hover {
    transform: scale(1.05);
}

.cartItem .bookTitle {
    padding: 0 16px;
    flex: 1;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartItem > p {
    width: 70%;
    overflow: hidden;
}

.removeBtn {
    padding: 6px ;
    min-width: 100px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--remove-btn-color);
    color: white;
    cursor: pointer;
}

.removeBtn:hover {
    background-color: rgb(245, 42, 42);
}

.orderSummary {
    --order-summary-width: 350px;
    height: var(--order-summary-width);
    width: var(--order-summary-width);
    border: 1px solid black;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.orderSummary .title {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
  
.orderSummary .subtotalContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.subtotalContainer p:nth-child(1) , 
.subtotal {
    font-size: 1.4rem;
    font-weight: 600;
}

.subtotal {
    justify-self: end;
    font-weight: 900;

}

.shippingInfo {
    font-style: italic;
    padding: 0 4px;
}

.checkoutBtn {
    padding: 12px 0;
    border: none;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    border-radius: 4px;
    color: white;
    background-color: var(--logo-color);
    cursor: pointer;
}

.checkoutBtn:hover {
    filter: brightness(120%) 
}


.continueShopping {
    align-self: flex-end;
    font-size: 1.2em;
}
