
.quantity {
    width: 140px;
    display: flex;
    height: 48px;
    font-weight: 600;

    border: 0.8px solid var(--placeholder-color);
}

.quantity > * {
    flex: 1;
}

.quantity button {
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.quantity button:hover {
    background-color: #ccced1;
} 

.quantity p {
    display: flex;
    align-items: center;
    justify-content: center;
}