
@font-face {
  font-family: 'RobotoFont';
  src: url('./assets/fonts/Roboto-VariableFont_wdthwght.ttf') format('truetype'),
  url('./assets/fonts/Roboto-Italic-VariableFont_wdthwght.ttf') format('truetype');
}

:root {
  --logo-color: #78350F;
  font-family: 'RobotoFont', system-ui ;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* who include pages */
.content-container {
  flex-grow: 1;
}


.loaderSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  from {
      transform: translateX(-50%) rotate(0);
  }

  to {
      transform: translateX(-50%) rotate(360deg);
  }
  
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  justify-self: flex-end;

  font-size: 1.1em;
  font-weight:600 ;
}

.linkContainer {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--logo-color);
  margin-left: 4px;
}



