
@font-face {
  font-family: 'RobotoFont';
  src: url('./assets/fonts/Roboto-VariableFont_wdthwght.ttf') format('truetype'),
  url('./assets/fonts/Roboto-Italic-VariableFont_wdthwght.ttf') format('truetype');
}

:root {
  font-family: 'RobotoFont', system-ui ;
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  --logo-color: #78350F;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* who include pages */
.content-container {
  flex: 1;
}

