
@font-face {
  font-family: 'RobotoFont';
  src: url('./assets/fonts/Roboto-VariableFont_wdthwght.ttf') format('truetype'),
  url('./assets/fonts/Roboto-Italic-VariableFont_wdthwght.ttf') format('truetype');
}

:root {
  --logo-color: #78350F;
  font-family: 'RobotoFont', system-ui ;
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* who include pages */
.content-container {
  flex: 1;
}


.loaderSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  from {
      transform: translateX(-50%) rotate(0);
  }

  to {
      transform: translateX(-50%) rotate(360deg);
  }
  
}
