* {
    box-sizing: border-box;
}

.slide {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 calc(var(--padding-in-content) - 32px);
}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 1px solid black;
}

.arrow {
    cursor: pointer;
}

.arrow:hover {
    color: #3B82F6;
}
