* {
    box-sizing: border-box;
}

.slide {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    align-items: center;
    padding: 0 calc(var(--padding-in-content) - 32px);
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.arrow {
    cursor: pointer;
}

.arrow:hover {
    color: #3B82F6;
}
